footer.site-footer
    .contact-block
        h3.contact-block__title Контакты

        .contact
            .contact__name Телефон:
            .contact__value: a(href="tel:+79114571223") +7 911 457-12-23

        .contact
            .contact__name Email:
            .contact__value: a(href="mailto: somemail@gmail.com") somemail@gmail.com

    //- .contact-block
    //-     h3.contact-block__title Мы в соцсетях

    .copyrights &copy;  #[span.copyrights--blue Чистые Технологии] 2017. 