doctype html

html
    head
        meta(charset="UTF-8")
        meta(name="viewport",
            content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400,500,700&amp;subset=cyrillic")
        link(rel="stylesheet", href="styles.css")

    body
        header.site-header
            .site-header__wrapper
                .menu-icon: .menu-icon__middle
                
                .search-n-lang
                    .search
                        form.search__form
                            input(type="text", placeholder="Поиск").search__input
                            button(type="submit").search__button Найти
                                .icon-search
                    .language

                .logo: img(src="./img/logo.png")

                .site-header__contacts 
                    .header-contact
                        .header-contact__phone
                            a(href="tel:84012390043") 8 (4012) 39 00 43
                        .header-contact__email
                            a(href="mailto:info@baltcleantech.com") info@baltcleantech.com
                    
                    .header-contact
                        .header-contact__title Мы в соцсетях
                        .social
                            a(href="").icon-twitter Twitter
                            a(href="").icon-facebook Facebook
                            a(href="").icon-linkedin LinkedIn
                            a(href="").icon-gplus Google+

            nav.main-nav.main-nav--main: ul.main-nav__menu
                - var list = ["О компании", "Новости", "Услуги", "Проекты", "Партнеры", "Вакансии", "Отзывы", "Контакты"];
                - var links = ["about.html", "#", "#", "#", "#", "#", "#", "contacts.html"]
                    li 
                        a(href="#"): .icon-home
                - for (var i = 0; i < 8; i++)
                    li
                        a(href=links[i])= list[i]