*, 
*::before,
*::after {
    box-sizing: border-box;
}

html {
    // typography
    font-size: 16px;
}

body {
    // box model
    margin: 0;
    padding: 0;

    // typography
    font-family: $mainFont;
    font-size: $baseFontSize;
}