*, 
*::before,
*::after {
    box-sizing: border-box;
}

html {
    // positioning
    position: relative;
    // box model
    min-height: 100%;
    // typography
    font-size: $baseFontSize;
}

body {
    // box model
    margin: 0 0 390px;
    padding: 0;
    height: 100%;

    // typography
    font-family: $mainFont;
    font-size: $baseFontSize;

    // visual
    background-color: #ffffff;

    @include atTabletsPortrait {
        // box model
        margin: 0 0 300px;
    }

    // @include atTabletsLandscape {

    // }
}