*, 
*::before,
*::after {
    box-sizing: border-box;
}

html {
    // typography
    font-size: $baseFontSize;
}

body {
    // box model
    margin: 0;
    padding: 0;

    // typography
    font-family: $mainFont;
    font-size: $baseFontSize;

    // visual
    background-color: #ffffff;
}