// colors
$mainBlue: #00baff;
$lightBlue: #d0ebf5;
$lighterBlue: #e8f2f6;
$mainCopy: #333333;
$mainTitle: #212121;
$mainSand: #c8a165;

// fonts
$baseFontSize: 16px;
$mainFont: 'Open sans', sans-serif;