*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  margin: 0;
  padding: 0;
  font-family: "Open sans", sans-serif;
  font-size: 16px; }

.site-header {
  position: relative;
  height: 200px;
  padding: 25px;
  padding-left: 0;
  background-color: #c8d6e1;
  background-image: url("./img/header-bg-s-2x.jpg");
  background-position: center center;
  background-size: cover; }
  @media (min-width: 700px) {
    .site-header {
      height: 300px;
      padding-top: 30px;
      padding-left: 20px;
      background-image: url("./img/header-bg-l-1x.jpg"); } }

.logo {
  height: 152px;
  width: 306px; }
  .logo img {
    height: 100%;
    width: 100%; }
  @media (min-width: 900px) {
    .logo {
      height: 104px;
      width: 204px; } }
  @media (min-width: 1200px) {
    .logo {
      height: 152px;
      width: 306px; } }

.main-nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  min-height: 100vh;
  padding: 100px 0;
  visibility: hidden;
  background-color: rgba(0, 38, 53, 0.9);
  border-right: 3px solid #00baff; }
  @media (min-width: 900px) {
    .main-nav {
      bottom: 60px;
      right: 0;
      top: auto;
      left: auto;
      padding: 20px;
      min-height: auto;
      visibility: visible;
      background-color: rgba(0, 38, 53, 0.7);
      border-right: none; } }
  @media (min-width: 1200px) {
    .main-nav {
      bottom: 100px; } }
  .main-nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .main-nav li {
    margin: 0;
    padding: 0; }
    @media (min-width: 900px) {
      .main-nav li {
        display: inline-block; } }
  .main-nav a {
    display: block;
    padding: 10px 60px;
    color: #ffffff;
    font-size: 1.125rem;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase; }
    @media (min-width: 900px) {
      .main-nav a {
        display: inline-block;
        padding: 10px 15px;
        font-size: 1rem;
        text-transform: none; } }
    .main-nav a:hover {
      background-color: #00baff; }

.hero-n-services {
  position: relative; }
  .hero-n-services::after {
    content: "";
    display: table;
    width: 100%;
    clear: both; }
  @media (min-width: 1400px) {
    .hero-n-services {
      max-width: 1600px;
      margin: 0 auto; } }

.hero {
  padding: 15px 0;
  background-color: #5096f8;
  background-image: url("./img/hero-bg-s.jpg");
  background-size: cover;
  background-position: right center; }
  @media (min-width: 900px) {
    .hero {
      position: relative;
      z-index: 2;
      width: 800px;
      margin: 0 auto;
      margin-top: -40px;
      margin-bottom: 40px;
      padding: 60px 0;
      padding-right: 100px;
      background-image: url("./img/hero-bg-l.jpg");
      background-position: right center; } }
  @media (min-width: 1200px) {
    .hero {
      float: left;
      width: calc(100% - 760px);
      height: 800px;
      margin-top: -80px;
      padding-right: 80px;
      box-shadow: 0 0 20px rgba(33, 33, 33, 0.5); } }
  @media (min-width: 1400px) {
    .hero {
      padding-top: 120px; } }
  .hero__wrapper {
    padding: 25px;
    padding-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.85); }
    @media (min-width: 900px) {
      .hero__wrapper {
        padding-right: 40px;
        padding-left: 100px; } }
    @media (min-width: 1200px) {
      .hero__wrapper {
        padding-left: 60px; } }
    @media (min-width: 1400px) {
      .hero__wrapper {
        padding-left: 100px; } }
  .hero__welcome {
    display: inline-block;
    color: #212121;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    position: relative; }
    .hero__welcome::before {
      content: "";
      position: absolute;
      bottom: -4px;
      height: 2px;
      width: 100%;
      background-color: #00baff; }
  .hero__title {
    margin: 0;
    color: #212121;
    font-size: 2.25rem;
    font-weight: 400;
    text-transform: uppercase; }
  .hero__subtitle {
    margin: 0;
    color: #00baff;
    font-size: 1.5rem;
    text-transform: uppercase; }
  .hero__text {
    margin-bottom: 40px;
    color: #333333; }

.services {
  position: relative;
  padding: 25px;
  padding-bottom: 40px;
  font-size: 0;
  background-image: linear-gradient(87deg, #d0ebf5 0, #d0ebf5 65%, #f6f6f6 65.25%, #f6f6f6 100%); }
  @media (min-width: 900px) {
    .services {
      width: 800px;
      margin: 0 auto; } }
  @media (min-width: 1200px) {
    .services {
      float: left;
      width: 680px;
      height: 800px;
      margin-left: 40px;
      margin-top: -80px;
      box-shadow: 0 0 20px rgba(33, 33, 33, 0.5); } }
  @media (min-width: 700px) {
    .services__main {
      display: inline-block;
      vertical-align: top;
      width: 50%;
      padding-right: 20px; } }
  @media (min-width: 700px) {
    .services__dir {
      display: inline-block;
      vertical-align: top;
      width: 50%; } }
  @media (min-width: 700px) {
    .services__projects {
      position: absolute;
      bottom: 40px;
      right: 0;
      width: 50%; } }
  @media (min-width: 1200px) {
    .services__projects {
      bottom: 235px; } }
  .services__title {
    display: inline-block;
    margin-bottom: 30px;
    color: #212121;
    font-size: 1.375rem;
    font-weight: 700;
    text-transform: uppercase;
    position: relative; }
    .services__title::before {
      content: "";
      position: absolute;
      bottom: -4px;
      height: 2px;
      width: 100%;
      background-color: #00baff; }
  .services__subtitle {
    display: inline-block;
    margin-bottom: 30px;
    padding-top: 30px;
    font-size: 1.25rem;
    font-weight: 400;
    text-transform: uppercase;
    position: relative; }
    .services__subtitle::before {
      content: "";
      position: absolute;
      bottom: -4px;
      height: 2px;
      width: 100%;
      background-color: #00baff; }
    @media (min-width: 700px) {
      .services__subtitle {
        padding-top: 0; } }
  .services__text {
    margin: 0;
    padding-bottom: 30px;
    font-size: 1rem; }

.service-item {
  position: relative;
  margin: 0;
  margin-bottom: 30px;
  padding: 1px 0;
  min-height: 77px; }
  .service-item__icon {
    position: absolute;
    height: 77px;
    width: 77px;
    padding: 8px;
    background-color: #00baff;
    border-radius: 10px; }
    .service-item__icon img {
      height: 100%;
      width: 100%; }
  .service-item__title {
    margin: 0;
    margin-top: -3px;
    padding: 0;
    padding-left: 90px;
    color: #212121;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase; }
  .service-item__text {
    margin: 0;
    padding: 0;
    padding-left: 90px;
    padding-top: 3px;
    color: #333333;
    font-size: 0.875rem;
    line-height: 1.4; }

.service-item-dir {
  position: relative;
  display: table;
  min-height: 55px;
  margin-bottom: 20px; }
  .service-item-dir__icon {
    position: absolute;
    height: 55px;
    width: 55px; }
    .service-item-dir__icon img {
      height: 100%;
      width: 100%; }
  .service-item-dir__title {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding-left: 67px;
    font-size: 0.875rem;
    font-weight: 400;
    text-transform: uppercase; }

.button {
  padding: 10px 15px;
  color: #212121;
  font-size: 0.875rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #00baff;
  transition: all 0.3s ease-out; }
  .button:hover {
    color: #ffffff;
    background-color: #00baff; }

.site-footer {
  padding: 25px;
  background-color: #e7edf5;
  background-image: url("./img/footer-bg-s.jpg");
  background-position: center center;
  background-size: cover; }
  @media (min-width: 1200px) {
    .site-footer {
      padding-top: 100px; } }

.news-item {
  padding: 25px;
  font-size: 0; }
  @media (min-width: 900px) {
    .news-item {
      width: 31.2%;
      padding: 0; } }
  @media (min-width: 1200px) {
    .news-item {
      padding: 25px;
      background-color: #ffffff; } }
  .news-item:hover {
    background-color: #e8f2f6; }
  .news-item__image {
    margin-left: -25px; }
    .news-item__image img {
      width: 100%; }
    @media (min-width: 700px) {
      .news-item__image {
        display: inline-block;
        vertical-align: top;
        width: 320px;
        margin-left: 0; } }
    @media (min-width: 900px) {
      .news-item__image {
        display: block;
        width: 100%;
        margin-left: 0; } }
  @media (min-width: 700px) {
    .news-item__text-wrapper {
      display: inline-block;
      vertical-align: top;
      width: calc(100% - 320px);
      padding-left: 20px;
      margin-top: -25px; } }
  @media (min-width: 900px) {
    .news-item__text-wrapper {
      display: block;
      width: 100%;
      padding-left: 0;
      margin-top: 0; } }
  .news-item__header {
    position: relative;
    margin-bottom: 5px;
    padding-top: 25px;
    overflow: hidden;
    height: 85px; }
  .news-item__day {
    position: absolute;
    height: 40px;
    width: 40px;
    color: #c8a165;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 38px;
    text-align: center;
    border: 1px solid #c8a165; }
  .news-item__date {
    margin-top: -4px;
    padding-left: 50px;
    color: #c8a165;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase; }
  .news-item__title {
    margin: 0;
    padding: 0;
    padding-left: 50px;
    color: #212121;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase; }
  .news-item__content {
    padding: 0; }
  .news-item__text {
    margin: 0;
    padding: 0;
    color: #333333;
    font-size: 0.875rem; }
    @media (min-width: 900px) {
      .news-item__text {
        height: 8em;
        overflow: hidden; } }
  .news-item__more {
    display: block;
    margin-top: 25px;
    color: #c8a165;
    font-size: 1rem;
    text-decoration: none; }
    .news-item__more:hover {
      color: #00baff; }

.contact-block__title {
  position: relative;
  color: #212121;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase; }
  .contact-block__title::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    width: 50px;
    background-color: #00baff; }

.contact {
  margin-bottom: 10px; }
  .contact__name {
    color: #00baff;
    font-size: 1rem;
    font-weight: 700; }
  .contact__value a {
    color: #212121;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none; }
    .contact__value a:hover {
      color: #00baff; }

.news {
  padding: 25px 0; }
  @media (min-width: 1200px) {
    .news {
      position: relative;
      top: -240px;
      z-index: 2;
      margin: 0 auto;
      margin-bottom: -350px;
      max-width: 1200px; } }
  @media (min-width: 900px) {
    .news__header {
      margin-left: 25px;
      margin-bottom: 20px; } }
  @media (min-width: 1200px) {
    .news__header {
      display: none; } }
  .news__title {
    display: inline-block;
    margin-left: 25px;
    font-size: 1.375rem;
    text-transform: uppercase;
    position: relative; }
    .news__title::before {
      content: "";
      position: absolute;
      bottom: -4px;
      height: 2px;
      width: 100%;
      background-color: #00baff; }
  @media (min-width: 900px) {
    .news__wrapper {
      display: flex;
      justify-content: space-between;
      margin: 0 50px; } }

.copyrights {
  padding-top: 80px;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase; }
  .copyrights--blue {
    color: #00baff; }
