doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport",
            content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=cyrillic")
        link(rel="stylesheet", href="styles.css")

    body
        header.site-header
            .site-header__wrapper
                .menu-icon.menu-icon--close-x: .menu-icon__middle
                
                .search-n-lang
                    .search
                        form.search__form
                            input(type="text", placeholder="Поиск").search__input
                            button(type="submit").search__button Найти
                                .icon-search
                    .language

                .logo: img(src="./img/logo.png")

                .site-header__contacts 
                    .header-contact
                        .header-contact__phone
                            a(href="tel:84012390043") 8 (4012) 39 00 43
                        .header-contact__email
                            a(href="mailto:info@baltcleantech.com") info@baltcleantech.com
                    
                    .header-contact
                        .header-contact__title Мы в соцсетях
                        .social
                            a(href="").icon-twitter Twitter
                            a(href="").icon-facebook Facebook
                            a(href="").icon-linkedin LinkedIn
                            a(href="").icon-gplus Google+

            nav.main-nav.main-nav--main: ul.main-nav__menu
                - var list = ["О компании", "Новости", "Услуги", "Проекты", "Партнеры", "Вакансии", "Отзывы", "Контакты"];
                - for (var i = 0; i < 8; i++)
                    li
                        a(href="#")= list[i]

        .wrapper
            .serv-buttons
                a(href="#").button.button--clean Печать
                a(href="#").button.button--clean.button--ml-30 Задать вопрос

            main.site-main
                header.site-main__header
                    .site-main__breadcumbs Главная / #[span О Компании]

                .site-main__content
                    .about
                        .about__wrapper
                            h2.about__title Чистые Технологии Балтики

                            p.about__text ООО «Чистые технологии Балтики» - инжиниринговая компания полного цикла, специализирующаяся на оказании услуг в области  возобновляемой  энергетики, а также в сфере  внедрения экологически  чистых и ресурсосберегающих технологий. Нашим клиентам мы предлагаем комплексные технические решения «под ключ» — от консалтинга и проектирования до поставки оборудования, введения в эксплуатацию и технического обслуживания объектов.
                            p.about__text Рост цен на природные ресурсы, понимание преимуществ «зеленой» экономики и выполнение обязательств по борьбе с изменением климата приводят к новым законодательным инициативам на международном, национальном и региональном уровнях. В частности, вводятся требования по энергоэффективности компаний и выпускаемой ими продукции, устанавливаются налоги за выбросы парниковых газов, вводятся специальные тарифы для поддержки возобновляемой энергетики. Адаптация к этим инициативам может потребовать значительных капитальных вложений, переосмысления подходов к управлению и пересмотра бизнес-процессов.
                            p.about__text Одной из главных причин необходимости повышения энергоэффективности и энергосбережения является истощаемость природных ресурсов. В настоящее время ограниченность энергоресурсов, так или иначе, затрагивает все государства и становится проблемой глобального масштаба. Актуальность изменения отношения к энергоресурсам связана с высокой энергоёмкостью продукции. Эта проблема в свою очередь влечет за собой такие последствия как неэффективность экономики, неконкурентоспособность продукции, малые объёмы реализации на мировых и внутренних рынках, расходы на экспорт, закрытие малоэффективных предприятий и др.
                            p.about__text Для обеспечения соответствия законодательным требованиям и повышения эффективности деятельности всё больше компаний внедряют чистые технологии, к которым относятся технологические решения в области ресурсоэффективности, возобновляемой энергетики и обращения с отходами. Наша компания поможет Вам найти подобные решения и реализовать их в самом выгодном для Вас виде. 

                            p.about__signature #[strong Директор: Андрей Суленко]
                        
            aside.side-nav
                h2.side-nav__title О Компании
                ul.side-nav__menu
                    li: a(href="#") Общая информация
                    li: a(href="#") Наша команда
                    li: a(href="#") Вакансии
                    li: a(href="#") Контакты


        include includes/_footer.pug