include includes/_header.pug

.wrapper
    .serv-buttons
        a(href="#").button.button--clean Печать
        a(href="#").button.button--clean.button--ml-30 Задать вопрос

    main.site-main
        header.site-main__header
            .site-main__breadcumbs Главная / #[span О Компании]

        .site-main__content
            .about
                .about__wrapper
                    h2.about__title Чистые Технологии Балтики

                    p.about__text ООО «Чистые технологии Балтики» - инжиниринговая компания полного цикла, специализирующаяся на оказании услуг в области  возобновляемой  энергетики, а также в сфере  внедрения экологически  чистых и ресурсосберегающих технологий. Нашим клиентам мы предлагаем комплексные технические решения «под ключ» — от консалтинга и проектирования до поставки оборудования, введения в эксплуатацию и технического обслуживания объектов.
                    p.about__text Рост цен на природные ресурсы, понимание преимуществ «зеленой» экономики и выполнение обязательств по борьбе с изменением климата приводят к новым законодательным инициативам на международном, национальном и региональном уровнях. В частности, вводятся требования по энергоэффективности компаний и выпускаемой ими продукции, устанавливаются налоги за выбросы парниковых газов, вводятся специальные тарифы для поддержки возобновляемой энергетики. Адаптация к этим инициативам может потребовать значительных капитальных вложений, переосмысления подходов к управлению и пересмотра бизнес-процессов.
                    p.about__text Одной из главных причин необходимости повышения энергоэффективности и энергосбережения является истощаемость природных ресурсов. В настоящее время ограниченность энергоресурсов, так или иначе, затрагивает все государства и становится проблемой глобального масштаба. Актуальность изменения отношения к энергоресурсам связана с высокой энергоёмкостью продукции. Эта проблема в свою очередь влечет за собой такие последствия как неэффективность экономики, неконкурентоспособность продукции, малые объёмы реализации на мировых и внутренних рынках, расходы на экспорт, закрытие малоэффективных предприятий и др.
                    p.about__text Для обеспечения соответствия законодательным требованиям и повышения эффективности деятельности всё больше компаний внедряют чистые технологии, к которым относятся технологические решения в области ресурсоэффективности, возобновляемой энергетики и обращения с отходами. Наша компания поможет Вам найти подобные решения и реализовать их в самом выгодном для Вас виде. 

                    p.about__signature #[strong Директор: Андрей Суленко]
                
    aside.side-nav
        h2.side-nav__title О Компании
        ul.side-nav__menu
            li: a(href="#") Общая информация
            li: a(href="#") Наша команда
            li: a(href="#") Вакансии
            li: a(href="#") Контакты


include includes/_footer.pug