include includes/_header.pug

.wrapper
    .serv-buttons
        a(href="#").button.button--clean Печать
        a(href="#").button.button--clean.button--ml-30 Задать вопрос

    main.site-main
        header.site-main__header
            .site-main__breadcumbs Главная / #[span Новости]

        .site-main__content
            article.news-post-page
                header.news-post-page__header
                    .news-post-page__social
                        .social
                            a(href="").icon-twitter Twitter
                            a(href="").icon-facebook Facebook
                            a(href="").icon-linkedin LinkedIn
                            a(href="").icon-gplus Google+
                    h2.news-post-page__title Россия обладает мощным потенциалом для развития возобновляемой энергетики
                    .news-post-page__advert Уникальное разнообразие климатических условий России предоставляет все возможности для развития в стране возобновляемой энергетики, в частности, ветряной энергии!
                    .news-post-page__image: img(src="./img/news/photo-1.jpg")
                .news-post-page__content
                    .news-post-page__text
                        p Такое мнение выразил на встрече с генеральным директором Международного агентства по возобновляемым источникам энергии (IRENA) Аднаном Зе Амином заместитель председателя Совета Федерации Ильяс Умаханов, сообщает пресс-служба верхней палаты парламента.
                        p Парламентарий пригласил представителей IRENA в мае посетить Санкт-Петербург и принять участие в работе Невского международного экологического конгресса, чтобы убедиться в наличии у России большого потенциала по развитию возобновляемой энергетики и представить свою позицию по этой теме широкому кругу экспертов-экологов.
                        p Невский международный экологический конгресс проводится с 2008 года в Санкт-Петербурге и является уникальной площадкой для:
                        ul
                            li укрепления межпарламентского сотрудничества в сфере обеспечения экологической безопасности и гармонизации экологического законодательства государств — участников СНГ и стран — членов Совета Европы;
                            li развития диалога и обмена опытом между представителями органов государственной власти, деловых кругов, образовательных и научно-исследовательских учреждений, общественных организаций по вопросам повышения экологической эффективности экономик государств — участников СНГ;
                            li совершенствования законодательства в области природопользования и охраны окружающей среды с использованием механизмов правового регулирования внедрения ресурсосберегающих, энергоэффективных и малоотходных технологий, глубокой переработки сырья и отходов;
                            li повышения роли экологического воспитания и образования населения, продвижения идей здорового образа жизни;
                            li формирования международной повестки дня, связанной с политикой в сфере экологической безопасности, во взаимодействии со специализированными институтами системы Организации Объединенных Наций.
                        p Международное агентство по возобновляемым источникам энергии создано в 2009 году для поддержания использования всех форм возобновляемых источников энергии.
                    .news-post-page__source Источник #[a(href="#") Парламентская газета]
                .news-post-page__also
           
    aside.side-nav
        h2.side-nav__title Контакты
        ul.side-nav__menu
            li: a(href="#") Общая информация
            li: a(href="#") Наша команда
            li: a(href="#") Контакты


include includes/_footer.pug