.about {
    // box model
    margin: 0 -25px;

    @include atTabletsPortrait {
        // box model
        margin: 0;
    }

    @include atDesktop {
        // box model
        padding: 40px;
        min-height: 520px;
    }

    @include atDesktopLarge {
        // box model
        padding-left: 100px;

        // visual
        // background-image: url('./img/about-bg.jpg');
        background-repeat: no-repeat;
        // background-size: 100%;
        background-position: left top;
    }

    &__wrapper {
        // box model
        padding: 25px;
        
        // visual
        background-color: rgba(#ffffff, 0.9);

        @include atTabletsPortrait {
            // box model
            padding: 25px 40px;
            margin-right: 40px;
        }

        @include atDesktop {
            // box model
            margin-left: calc(100% - 700px);
            max-width: 800px;
        }

        @include atDesktopLarge {
            // box model
            margin-left: calc((100% - 800px) / 2);
        }
    }

    &__title {
        // positioning
        position: relative;

        // typography
        text-transform: uppercase;
    }

    &__text, 
    p {
        // typography
        color: $mainCopy;
        font-size: 1rem;
        line-height: 1.5;
        text-indent: 2rem;
    }

    &__signature {
        // box model
        padding-top: 20px;

        // typography
        text-align: right;
    }
}