.button {
    // box model
    padding: 10px 15px;

    // typography
    color: $mainTitle;
    font-size: 0.875rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;

    // visual
    // background-color: #ffffff;
    border: 2px solid $mainBlue;
    transition: all 0.3s ease-out;

    &--mt-40 {
        // box model
        display: block;
        margin-top: 39px;
        margin-right: 45%;

        // typography
        text-align: center;
    }

    &--ml-30 {
        // box model
        margin-left: 30px;
    }

    &:hover {
        // typography
        color: #ffffff;

        // visual
        background-color: $mainBlue;
    }

    &--sand {
        // visual
        border-color: $mainSand;

        &:hover {
            // visual
            background-color: $mainSand;
        }
    }
}