.contact {
    // box model
    margin-bottom: 5px;

    @include atTabletsPortrait {
        // box model
        // display: inline-block;
    }

    &__name {
        // box model
        display: inline-block;
        padding-bottom: 10px;

        // typography
        color: $mainBlue;
        font-size: 1rem;
        font-weight: 700;
    }

    &__value {
        // box model
        display: inline;

        // typography
        color: #ffffff;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.5;
        
        a {
            // box model
            display: inline-block;
            margin-top: 2px;
            padding: 0 5px;

            // typography
            color: #ffffff;
            font-size: 1rem;
            font-weight: 700;
            text-decoration: none;


            &:hover {
                // typography
                // color: $mainTitle;
                
                // visual
                background-color: $mainBlue;
            }
        }
    }
}