.copyrights {
    // box model
    padding-top: 80px;
    
    // typography
    color: #ffffff;
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;

    &--blue {
        // box model
        display: inline-block;
        padding: 0 5px;

        // visual
        background-color: $mainBlue;
    }

    @include atTabletsPortrait {
        // box model
        float: right;
    }
}