.hero {
    // box model
    padding: 15px 0;

    // visual
    background-color: #5096f8;
    background-image: url('./img/hero-bg-s.jpg');
    background-size: cover;
    background-position: right center;

    @include atTabletsLandscape {
        // positioning
        position: relative;
        z-index: 2;

        // box model
        width: 800px;
        margin: 0 auto;
        margin-top: -40px;
        padding: 60px 0;
        padding-right: 100px;
        margin-bottom: 40px;

        // visual
        background-image: url('./img/hero-bg-l.jpg');background-position: right center;
    }

    &__wrapper {
        // box model
        padding: 25px;
        padding-bottom: 40px;

        // visual
        background-color: rgba(#ffffff, 0.85);

        @include atTabletsLandscape {
            padding-left: 100px;
        }
    }

    &__welcome {
        // box model
        display: inline-block;

        // typography
        color: $mainTitle;
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;

        @include blueUnderline;
    }

    &__title {
        // typography
        color: $mainTitle;
        font-size: 2.25rem;
        font-weight: 400;
        text-transform: uppercase;
    }

    &__subtitle {
        // typography
        color: $mainBlue;
        font-size: 1.5rem;
        text-transform: uppercase;
    }

    &__text {
        // box model
        margin-bottom: 40px;
        
        // typography
        color: $mainCopy;
    }
}