.hero {
    // box model
    padding: 15px 0;

    // visual
    background-color: #5096f8;
    background-image: url('./img/hero-bg-s.jpg');
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;

    @include atTabletsLandscape {
        // positioning
        position: relative;
        z-index: 2;

        // box model
        margin: 0 auto;

        padding: 60px 0;
        padding-right: 100px;

        // visual
        background-image: url('./img/hero-bg-l.jpg');background-position: right center;
    }

    @include atDesktop {
        // box model
        float: left;
        width: calc(100% - 640px);
        height: 700px;

        padding-right: 0px;

        // visual
        box-shadow: 0 0 20px rgba(#212121, 0.5);
    }

    @media (min-width: 1300px) {
        // box model
        padding-right: 60px;
    }

    @include atDesktopLarge {
        // box model
        padding-right: 8vw;
        padding-top: calc(30px + 3vw);
        padding-top: 5vw;
    }

    &__wrapper {
        // box model
        padding: 25px;
        padding-bottom: 40px;

        // visual
        background-color: rgba(#ffffff, 0.90);

        @include atTabletsLandscape {
            // box model
            padding-right: 80px;
            padding-left: 100px;
        }

        @include atDesktop {
            // box model
            padding-left: 60px;
            padding-right: 60px;
        }

        @include atDesktopLarge {
            // box model
            padding: 3vw;
            padding-right: 15%;
            padding-left: 100px;
        }
    }

    &__welcome {
        // box model
        display: inline-block;

        // typography
        color: $mainTitle;
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;

        @include blueUnderline;
    }

    &__title {
        // box model
        margin: 0;
        width: 70%;
        padding: 10px 0;

        // typography
        color: $mainTitle;
        font-size: 2.25rem;
        font-weight: 400;
        line-height: 1.2;
        text-transform: uppercase;
    }

    &__subtitle {
        // box model
        margin: 0;

        // typography
        color: $mainBlue;
        font-size: 1.5rem;
        line-height: 1.4;
        text-transform: uppercase;
    }

    &__text {
        // box model
        margin-bottom: 40px;
        
        // typography
        color: $mainCopy;
        font-size: 1rem;
        line-height: 1.5;
    }
}