.logo {
    // positioning
    position: relative;
    z-index: 3;

    // box model
    height: 92px;
    width: 196px;

    img {
        // box model
        height: 100%;
        width: 100%;
    }

    @include atTabletsLandscape {
        // box model
        height: 92px;
        width: 196px;
    }

    @include atDesktop {
        // box model
        height: 131px;
        width: 280px;
    }
}