.logo {
    // box model
    height: 92px;
    width: 196px;
    // border: 1px solid red;

    img {
        // box model
        height: 100%;
        width: 100%;
    }

    @include atTabletsLandscape {
        // box model
        height: 92px;
        width: 196px;
    }

    @include atDesktopLarge {
        // box model
        height: 131px;
        width: 280px;
    }
}