.menu-icon {
    // positioning
    position: absolute;
    right: 0;
    top: 0;

    // box model
    // display: none;
    height: 36px;
    width: 36px;

    // visual
    cursor: pointer;
    // border: 1px solid red;

    @include atTabletsLandscape {
        // box model
        display: none;
    }

    &::before {
        content: "";

        // positioning
        position: absolute;
        left: 0;
        top: 0;
        transform-origin: 0 50%;
        
        // box model
        display: block;
        height: 6px;
        width: 36px;

        // visual
        background-color: #ffffff;
        transition: transform 0.3s ease-out;
    }

    &__middle {
        // positioning
        position: absolute;
        left: 0;
        top: 15px;

        // box model
        display: block;
        height: 6px;
        width: 36px;

        // visual
        background-color: #ffffff;
        transition: all 0.3s ease-out;
    }

    &::after {
        content: "";

        // positioning
        position: absolute;
        bottom: 0;
        left: 0;
        transform-origin: 0 50%;
        
        // box model
        display: block;
        height: 6px;
        width: 36px;

        // visual
        background-color: #ffffff;
        transition: transform 0.3s ease-out;
    }

    &--close-x {
        &::before {
            transform: rotate(45deg) scaleX(1.178);
        }

        .menu-icon__middle {
            opacity: 0;
            transform: scaleX(0);
        }

        &::after {
            transform: rotate(-45deg) scaleX(1.178);
        }
    }
}