.news-page-item {
    // box model
    margin-bottom: 40px;

    // typography
    font-size: 0;


    &__image {
        @include atTabletsPortrait {
            // box model
            display: inline-block;
            vertical-align: top;
            height: 200px;
            width: 320px;
        }

        @include atDesktopLarge {
            // box model
            height: 250px;
            width: 400px;
        }

        img {
            // box model
            width: 100%;
        }
    }

    &__wrapper {
        // positioning
        position: relative;

        @include atTabletsPortrait {
            // box model
            display: inline-block;
            vertical-align: top;
            width: calc(100% - 320px);
            padding-left: 20px;
        }

        @include atTabletsLandscape {
            // box model
            padding-left: 30px;
            min-height: 200px;
        }

        @include atDesktopLarge {
            // box model
            width: calc(100% - 400px);
            min-height: 250px;
        }
    }

    &__header {
        // positioning
        position: relative;

        // box model
        padding-top: 20px;

        @include atTabletsPortrait {
            padding-top: 0;
        }
    }

    &__day {
        // positioning
        position: absolute;

        // box model
        height: 40px;
        width: 40px;

        // typography
        color: $mainSand;
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 38px;
        text-align: center;

        // visual
        border: 1px solid $mainSand;
    }

    &__date {
        // box model
        // margin-top: -2px;
        padding-left: 50px;

        // typography
        color: $mainSand;
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__title {
        // box model
        margin: 0;
        padding: 0;
        padding-top: 2px;
        padding-bottom: 10px;

        // typography
        color: $mainTitle;
        font-size: 1rem;
        line-height: 1.6;
        text-indent: 50px;
        text-transform: uppercase;
        // border: 1px solid red;
    }

    &__content {
        // // positioning
        // position: relative;

        // @include atTabletsLandscape {
        //     min-height: 145px;
        // }
        // // border: 1px solid red;
    }

    &__text {
        // box model
        margin-bottom: 10px;
        padding-bottom: 10px;

        // typography
        color: $mainCopy;
        font-size: 1rem;
        line-height: 1.5;
    }

    &__more {
        // box model
        display: block;
        padding-top: 10px;

        // typography
        color: $mainCopy;
        font-size: 0.75rem;
        font-weight: 700;
        text-align: right;
        text-decoration: none;
        text-transform: uppercase;

        // visual
        border-top: 1px solid #bbbbbb;
        transition: all 0.3s ease-out;

        @include atTabletsLandscape {
            // positioning
            position: absolute;
            bottom: 0;
            right: 0;
            
            // box model
            width: calc(100% - 30px);
        }

        div {
            // box model
            // margin-top: -2px;
            display: inline-block;

            // typography
            color: $mainBlue;
            font-size: 1.125em;
        }

        &:hover {
            // typography
            color: $mainBlue;
        }
    }
}