.news {
    // box model
    padding: 25px 0;

    @include atDesktop {
        // positioning
        position: relative;
        top: -50px;
        z-index: 2;

        // box model
        margin: 0 auto;
        margin-bottom: -200px;
        max-width: 1200px;
    }

    @include atDesktopLarge {
        // positioning
        top: -80px;

        // box model
        margin-bottom: -240px;
        max-width: 1400px;
    }

    &__header {
        @include atTabletsLandscape {
            // box model
            margin-left: 25px;
            margin-bottom: 20px;
        }

        @include atDesktop {
            // box model
            display: none;
        }
    }

    &__title {
        // box model
        display: inline-block;
        margin-left: 25px;

        // typography
        font-size: 1.375rem;
        text-transform: uppercase;

        @include blueUnderline;
    }
    
    &__wrapper {
        @include atTabletsLandscape {
            // box model
            display: flex;
            justify-content: space-between;
            margin: 0 50px;
        }
    }
}