.news-item {
    // box model
    padding: 25px;

    // typography
    font-size: 0;

    @include atTabletsLandscape {
        // box model
        width: 31.2%;
        padding: 0;
    }

    @include atDesktop {
        // box model
        padding: 25px;

        // visual
        background-color: #ffffff;
        box-shadow: 0 0 7px 0 rgba(#212121, 0.2);
    }

    &:hover {
        // visual
        background-color: $lighterBlue;
    }

    &__image {
        // box model
        margin-left: -25px;

        img {
            // box model
            width: 100%;
        }

        @include atTabletsPortrait {
            // box model
            display: inline-block;
            vertical-align: top;
            width: 320px;
            margin-left: 0;
        }

        @include atTabletsLandscape {
            // box model
            display: block;
            width: 100%;
            margin-left: 0;
        }
    }

    &__text-wrapper {
        @include atTabletsPortrait {
            // box model
            display: inline-block;
            vertical-align: top;
            width: calc(100% - 320px);
            padding-left: 20px;
            margin-top: -25px;
        }

        @include atTabletsLandscape {
            // box model
            display: block;
            width: 100%;
            padding-left: 0;
            margin-top: 0;
        }
    }

    &__header {
        // positioning
        position: relative;

        // box model
        margin-bottom: 10px;
        padding-top: 25px;
        overflow: hidden;
        height: 85px;
    }

    &__day {
        // positioning
        position: absolute;

        // box model
        height: 40px;
        width: 40px;

        // typography
        color: $mainSand;
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 38px;
        text-align: center;

        // visual
        border: 1px solid $mainSand;
    }

    &__date {
        // box model
        margin-top: -4px;
        padding-left: 50px;

        // typography
        color: $mainSand;
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__title {
        // box model
        margin: 0;
        padding: 0;
        padding-left: 50px;

        // typography
        color: $mainTitle;
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
        // white-space: nowrap;
    }

    &__content {
        // box model
        padding: 0;
    }

    &__text {
        // box model
        margin: 0;
        padding: 0;

        // typography
        color: $mainCopy;
        line-height: 1.5;
        font-size: 1rem;

        @include atTabletsLandscape {
            // box model
            height: 8em;
            
            // visual
            overflow: hidden;
        }
    }

    &__more {
        // box model
        display: block;
        margin-top: 25px;

        // typography
        color: $mainSand;
        font-size: 1rem;
        text-decoration: none;

        &:hover {
            // typography
            color: $mainBlue;
        }
    }
}