.search {
    // box model
    display: none;
    float: right;

    // typography
    font-size: 0;

    @include atTabletsLandscape {
        // box model
        display: block;
    }

    &__form {
        // box model
        padding-bottom: 5px;

        // visual
        border-bottom: 1px solid #ffffff;
        border-bottom: 1px solid rgba(#ffffff, 0.8);
    }

    &__input {
        // positioning
        position: relative;

        // box model
        display: inline-block;
        vertical-align: top;
        width: 270px;
        padding: 5px 10px;

        // typography
        color: #ffffff;
        font-size: 1rem;

        // visual
        background-color: transparent;
        border: none;
        transition: all 0.3s ease-out;

        @include placeholder {
            // typography
            color: #ffffff;
            color: rgba(#ffffff, 0.8);
            font-size: 0.875rem;
            font-weight: 100;
        }

        &::before {
            content: "";

            // positioning
            position: absolute;
            left: 0;
            top: 0;
            z-index: 3;

            // box model
            border: 1px solid red;
            height: 100%;
            width: 100%;
        }

        &:hover {
            // visual
            background-color: rgba(#ffffff, 0.1);
        }

        &:focus {
            // visual
            background-color: rgba(#ffffff, 0.2);
            border: none;
            outline: none;
        }

    }

    &__button {
        // box model
        padding-top: 5px;

        // typography
        color: #ffffff;
        color: rgba(#ffffff, 0.8);
        font-size: 0;
        
        // visual
        background:none;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease-out;

        .icon-search {
            // typography
            font-size: 1rem;
        }

        &:hover {
            // typography
            color: #ffffff;
        }
    }
}