.services {
    // positioning
    position: relative;

    // box model
    padding: 25px;
    padding-bottom: 40px;

    // typography
    font-size: 0;

    // visual
    background-image: linear-gradient(87deg, $lightBlue 0, $lightBlue 65%, #f6f6f6 65.25%, #f6f6f6 100%);

    @include atTabletsLandscape {
        // box model
        width: 800px;
        margin: 0 auto;
    }

    @include atDesktop {
        // box model
        float: left;
        width: 680px;
        height: 800px;
        margin-left: 40px;
        margin-top: -80px;

        // visual
        box-shadow: 0 0 20px rgba(#212121, 0.5);
    }

    &__main {
        @include atTabletsPortrait {
            // box model
            display: inline-block;
            vertical-align: top;
            width: 50%;
            padding-right: 20px;
            // border: 1px solid red;
        }
    }

    &__dir {
        @include atTabletsPortrait {
            // box model
            display: inline-block;
            vertical-align: top;
            width: 50%;
            // border: 1px solid red;
        }
    }

    &__projects {
        @include atTabletsPortrait {
            // positioning
            position: absolute;
            bottom: 40px;
            right: 0;
            
            // box model
            width: 50%;
        }

        @include atDesktop {
            // positioning
            bottom: 235px;
        }
    }

    &__title {
        // box model
        display: inline-block;
        margin-bottom: 30px;

        // typography
        color: $mainTitle;
        font-size: 1.375rem;
        font-weight: 700;
        text-transform: uppercase;

        @include blueUnderline;
    }

    &__subtitle {
        // box model
        display: inline-block;
        margin-bottom: 30px;
        padding-top: 30px;

        // typography
        font-size: 1.25rem;
        font-weight: 400;
        text-transform: uppercase;

        @include blueUnderline;

        @include atTabletsPortrait {
            // box model
            padding-top: 0;
        }
    }

    &__text {
        // box model
        margin: 0;
        padding-bottom: 30px;

        // typography
        font-size: 1rem;
    }
}