.service-item-dir {
    // positioning
    position: relative;

    // box model
    display: table;
    height: 55px;
    min-height: 55px;
    margin-bottom: 20px;
    clear: both;
    width: 100%;
    
    &__icon {
        // positioning
        position: absolute;

        // box model
        height: 55px;
        width: 55px;

        // visual
        background-color: $mainBlue;
        border-radius: 50%;

        img {
            // box model
            height: 100%;
            width: 100%;
        }
    }

    &__title {
        // box model
        display: table-cell;
        vertical-align: middle;
        margin: 0;
        padding-left: 67px;

        // typography
        font-size: 0.875rem;
        font-weight: 500;
        text-transform: uppercase;
    }
}