.site-main {
    // positioning
    position: relative;
    z-index: 2;

    // box model
    // border: 1px solid red;

    @include atTabletsPortrait {
        // box model
        padding: 25px;
        margin-bottom: 20px;
    }

    @include atTabletsLandscape {
        // box model
        margin-bottom: -80px;
    }

    @include atDesktop {
        // box model
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 300px);
        padding-left: 0;
        margin-bottom: -120px;
    }

    &__header {
        // box model
        padding: 25px;

        @include clearfix;

        @include atTabletsLandscape {
            padding: 20px 40px;
            padding-top: 0;
        }

        @include atDesktop {
            padding: 20px 0 40px;
        }
    }

    &__breadcumbs {
        // typography
        color: $mainTitle;
        text-transform: uppercase;

        @include atTabletsPortrait {
            // typography
            font-size: 1.25rem;
        }

        @include atDesktop {
            // typography
            color: #ffffff;
        }

        span {
            // typography
            color: $mainBlue;
            // font-weight: 700;
        }
    }

    &__content {
        // box model
        padding: 30px 25px;

        // visual
        box-shadow: 0 0 20px rgba(#212121, 0.25);
        background-image: linear-gradient(73deg, #ffffff 0, #ffffff 73%, $lightBlue 73.25%, $lightBlue 100%);

        @include atDesktop {
            // box model
            padding: 40px;
            min-height: 600px;
        }
    }

    &__content-wrapper {
        // box model
        padding: 25px;
        max-width: 800px;

        @include atTabletsPortrait {
            // box model
            padding: 25px 40px;
        }

        h1,
        h2,
        h3,
        h4 {
            // typography
            color: $mainTitle;
        }

        p {
            // typography
            color: $mainCopy;
            line-height: 1.5;
            text-indent: 2rem;
        }

        li {
            // box model
            margin-bottom: 0.5em;

            // typography
            color: $mainCopy;
            line-height: 1.5;
        }

        a {
            // typography
            color: $mainBlue;
            text-decoration: none;

            &:hover {
                // typography
                text-decoration: underline;
            }
        }
    }
}