.site-header {
    // positioning
    position: relative;
    
    // box model
    height: 200px;
    padding: 25px;
    // padding-left: 0;
    
    // visual
    background-color: #c8d6e1;
    background-image: url('./img/header-bg-s-2x.jpg');
    background-position: right center;
    background-size: cover;

    @include atTabletsPortrait {
        // box model
        height: 300px;
        padding-top: 30px;
        padding-left: 20px;

        // visual
        background-image: url('./img/header-bg-l-1x.jpg');
    }

    @include atTabletsLandscape {
        // box model
        padding-top: 40px;
        padding-left: 30px;
    }

    &__wrapper {
        // positioning
        position: relative;
        // border: 1px solid red;

        @include atDesktopLarge {
            // box model
            margin: 0 auto;
            max-width: 1700px;
        }
    }
}