.site-footer {
    // positioning
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    // box model
    width: 100%;
    padding: 25px;
    padding-top: 100px;
    
    // visual
    background-color: #e7edf5;
    background-image: url('./img/footer-bg-s.jpg');
    background-position: center bottom;
    background-size: cover;
    // background-attachment: fixed;

    @include atTabletsLandscape {
        // box model
        padding-top: 150px;

        // visual
        background-image: url('./img/footer-bg-l.jpg');
    }

    @include atDesktop {
        // box model
        padding-top: 150px;
    }

    &::after {
        content: "";

        // box model
        display: table;
        width: 100%;
        clear: both;
    }

    &__wrapper {
    // border: 1px solid red;
        @include atDesktop {
            // box model
            max-width: 1700px;
            margin: 0 auto;
            padding: 0;

            &::after {
                content: "";

                // box model
                display: table;
                width: 100%;
                clear: both;
            }
        }
    }
}