.wrapper {
    // positioning
    position: relative;
    
    @include atDesktop {
        // box model
        margin: 0 40px;
        margin-top: -240px;
    }

    @media (min-width: 1760px) {
        // box model
        margin: 0 auto;
        margin-top: -240px;
        max-width: 1700px;
    }
}